<footer class="bg-white">
  <div class="container mx-auto px-8">
    <div class="w-full flex flex-col md:flex-row py-6">
      {% include logo.html no_text=true %}
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Links</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-pink-500">FAQ</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="/contact/" class="no-underline hover:underline text-gray-800 hover:text-pink-500">Help</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="/contact/" class="no-underline hover:underline text-gray-800 hover:text-pink-500">Support</a>
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Legal</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-pink-500">Terms</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-pink-500">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Social</p>
        <ul class="list-reset mb-6">
          {% for item in site.data.social %}
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="{{ item.link }}" class="no-underline hover:underline text-gray-800 hover:text-pink-500">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Company</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="/posts/" class="no-underline hover:underline text-gray-800 hover:text-pink-500">Official Blog</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="/about/" class="no-underline hover:underline text-gray-800 hover:text-pink-500">About Us</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="/contact/" class="no-underline hover:underline text-gray-800 hover:text-pink-500">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>